body {
    background-image: url("test_pattern.pg");
    background-attachment: fixed;
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

form {
    width: 100%;
    max-width:1100px;
    margin: 30px auto;
    padding: 25px;
    background-color: rgba(18, 18, 18, 0.95);
    border: 1px solid #333;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
}

fieldset {
    border: none;
    padding: 30px 20px 25px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(55, 55, 55);
}

fieldset:last-of-type {
    border-bottom: none;
}

legend {
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    padding: 0 10px 10px 0;
    margin-bottom: 5px;
    color: rgb(180, 90, 255);
    text-transform: uppercase;
    letter-spacing: 1px;
}

input, select, textarea {
    background-color: rgb(35, 35, 35);
    color: white;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    transition: 0.2s;
    font-family: Arial, sans-serif;
}

input:not([type="radio"]):hover, select:hover, textarea:hover {
    border-color: rgb(100, 100, 100);
}

input:focus, select:focus, textarea:focus {
    border-color: rgb(180, 90, 255);
    outline: none;
    box-shadow: 0 0 0 2px rgba(180, 90, 255, 0.15);
}

input::placeholder, textarea::placeholder {
    color: rgb(150, 150, 150);
}

input[type="radio"] {
    accent-color: rgb(180, 90, 255);
}

.personal-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.personal-info legend {
    grid-column: 1 / -1;
}
.personal-info div {
    text-align: left;
}

.personal-info label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}

.personal-info input {
    width: 100%;
    box-sizing: border-box;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
}

.contact-info legend {
    grid-column: 1 / -1;
}

.contact-time label {
    display: block;
    margin-bottom: 8px;
}

.contact-time input {
    width: 100%;
    box-sizing: border-box;
}

.radio-options {
    margin-top: 20px;
}

.radio-options label {
    margin-right: 20px;
}

.event-top-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
}

.event-top-row label {
    display: block;
    margin-bottom: 8px;
}

.event-top-row input, .event-top-row select {
    width: 100%;
    box-sizing: border-box;
}

.address-row {
    display: grid;
    gap: 2px;
    margin-top: 20px;
}

.address-row label {
    display: block;
    margin-bottom: 8px;
    white-space: nowrap;

}

.address-row input, .address-row select {
    width: 250px;
    box-sizing: border-box;
}

.booking-info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 20px;
}

.booking-info label {
    display: block;
    margin-bottom: 8px;
    white-space: nowrap;
}

.booking-info input, .booking-info select {
    width: 100%;
    box-sizing: border-box;
}

.additional-notes label{
    display: block;
    margin-bottom: 8px;
}

.additional-notes textarea {
    width: 50%;
    box-sizing: border-box;
    resize: vertical;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 14px;

    background-color: rgb(140, 35, 220);
    color: white;

    border: none;
    border-radius: 5px;

    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(165, 60, 240);
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(140, 35, 220, 0.35);
}

header h1 {
    font-size: 36px;
    margin-bottom: 8px;
    margin-top: 0;
}

header h1 span {
    color: rgb(180, 90, 255);
}

header p {
    color: rgb(180, 180, 180);
    font-size: 16px;
}

header {
    padding: 30px 20px 15px;
}

.site-header {
    padding: 50px 40px;;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    border-bottom: 1px solid rgb(45, 45, 45);
    position: relative;
}

.logo-link {
    position: absolute;
    left: 12%;
}

.site-logo {
    width: 90px;
    height: auto;
    display: block;
}

.site-nav ul {
    display:flex;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}

.site-nav a:hover {
    color: rgb(180, 90, 255);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    transform: scale(1.10);
}

.nav-book {
    color: rgb(190, 111, 255) !important;
    display: inline-block;
    transition: 0.3s;
}

.nav-book:hover {
    color: rgb(235, 167, 255) !important;
    transform: scale(1.10) !important;
}

.carousel {
    overflow: hidden;
    position: relative;
}

.carousel::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(140,35,220, 0.35);
    pointer-events: none;
}

.carousel-track {
    display: flex;
    animation: scroll 25s linear infinite;
    width: max-content;
}

.carousel-track img {
    width: 350px;
    height: 450px;
    object-fit: cover;
    flex-shrink: 0;
    
}

.dark-photo {
    filter: grayscale(50%) brightness(0.9)
}

.bright-photo {
    filter: grayscale(50%) contrast(1.4) brightness(0.4)
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

#hero {
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hero-logo {
    width: 300px;
    height: auto;
    transform: translateY(-10px);
}

.hero-content p {
    font-size: 18px;
    letter-spacing: 4px;
    transform: translateY(-26px);
    max-width: 600px;
}

.cta-button {
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    transform: translateY(-15px);
}

.cta-button:hover {
    background-color: white;
    color: rgba(140, 35, 220);
    transform: translateY(-20px);
}
.self-photo {
    position: relative;
    display: inline-block;
    width: 50%;
    overflow: hidden;
    max-width: 650px;
}

.self-photo img {
    display: block;
    width: 100%;
    height: auto;
}

.self-photo::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to right,
        rgb(17, 17, 17) 0%,
        transparent 70%,
        transparent 97%,
        rgb(17, 17, 17) 100%
    );

    pointer-events: none;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    min-height: 500px;
    padding: 40px 8%;
    overflow: hidden;
}

.about-text {
    width: 45%;
    max-width: 600px;
    text-align: left;
    position: relative;
    z-index: 2;
}

.about-text h2 {
    color: rgb(180, 90, 255);
    letter-spacing: 3px;
    font-size: 18px;
    margin-bottom: 8px;
}

.about-text h3 {
    font-size: 52px;
    margin: 10px 0 20px;
    color: white;
    letter-spacing: 2px;
}

.about-text p {
    color: rgb(190, 190, 190);
    font-size: 16px;
    line-height: 1.7;
}

#services {
    padding: 80px 5%;
}

#services h2 {
    font-size: 18px;
    letter-spacing: 3px;
    color: rgb(180, 90, 255);
    padding-bottom: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#services h2::before, #services h2::after {
    content: "";
    height: 1px;
    background-color: rgb(180, 90, 255);
    width: 30%;
    flex: none;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;

    max-width: 1500px;
    margin: 0 auto;
}

.service-card {
    min-height: 250px;
    border-radius: 20px;
    overflow: hidden;

    position: relative;
}

.service-card::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to right,
        rgb(139, 38, 206) 0%,
        rgb(122, 25, 187) 20%,
        rgba(143, 42, 211, 0.425) 70%,
        rgba(141, 22, 221, 0.418) 70%,
        rgba(147, 68, 238, 0.13) 100%
    );

    z-index: 0;
}

.private-events {
    background-image: url("dj_photos/service_img1.png");
    background-size: cover;
    background-position: center 34%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 40px;
    box-sizing: border-box;
    text-align: left;
}

.private-events h3 {
    font-size: 32px;
    margin: 0 0 12px;
    color: white;
    z-index: 1;
}

.private-events h3 span {
    color: rgb(180, 90, 255);
    display: block;
}

.private-events .service-description {
    color: rgb(210, 210, 210);
    font-size: 17px;
    line-height: 1.6;
    max-width: 210px;
    margin: 0;
    z-index: 1;
}

.nightlife-events {
    background-image: url("dj_photos/service_img2.png");
    background-size: cover;
    background-position: center 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    padding: 40px;
    box-sizing: border-box;
    text-align: left;
}

.nightlife-events h3 {
    z-index: 1;
    font-size: 32px;
    margin: 0 0 12px;
    color: white;
}

.nightlife-events h3 span {
    color: rgb(180, 90, 255);
    display: block;
}

.nightlife-events .service-description {
    color: rgb(210, 210, 210);
    font-size: 17px;
    line-height: 1.6;
    max-width: 230px;
    margin: 0;
    z-index: 1;
}

.special-events {
    background-image: url("dj_photos/service_img3.png");
    background-size: cover;
    background-position: 80% center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 40px;
    text-align: left;
    box-sizing: border-box;
}

.special-events h3 {
    z-index: 1;
    font-size: 32px;
    margin: 0 0 12px;
    color: white;
}

.special-events h3 span {
    color: rgb(180, 90, 255);
    display: block;
}

.special-events .service-description {
    color: rgb(210, 210, 210);
    z-index: 1;
    font-size: 17px;
    line-height: 1.6;
    max-width: 250px;
    margin: 0;
}

#music {
    padding: 80px;
    background-color: #141414;
}

#music h2 {
    font-size: 18px;
    letter-spacing: 3px;
    color: rgb(180, 90, 255);
    margin-bottom: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#music h2::before, #music h2::after {
    content: "";  
    height: 1px;
    background-color: rgb(180, 90, 255);
    width: 28%;
    flex: none;
}

.genres ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    list-style: none;
    padding: 0;
    margin: 0;
}

.genres li {
    font-size: 36px;
    font-weight: bold;
}

.genres li:nth-child(odd) {
    color: rgb(180, 90, 255);
}

.genres li:nth-child(even) {
    color: white;
}

.genres li:not(:last-child)::after {
    content: "|";
    color: rgb(180, 90, 255);
    margin-left: 35px;
}

.subgenres {
    margin-top: 25px;
    color: rgb(170, 170, 170);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 2;
}

.instagram-section {
    display: flex;
    align-items: center;
    gap: 50px;

    padding: 100px 6%;
    background-color: #141414;
    justify-content: center;
}

.instagra-info {
    width: 30%;
}

.instagra-posts {
    width: 70%;
}

.instagram-label {
    letter-spacing: 6px;
    font-size: 14px;
    color: #aaa;
}

.instagram-info h2 {
    font-size: 45px;
    line-height: 1.05;
    margin: 20px 0;
}

.instagram-info h2 span {
    color: rgb(180, 90, 255);
}

.instagram-info h2::after {
    content: "";
    display: block;

    background-color: #9b4dff;
    margin-top: 25px;
    width: 100%;
    height: 1px;
}

.instagram-posts {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.instagram-posts .instagram-media {
    width: 230px !important;
    min-width: 230px !important;
}

.instagram-button {
    color: white;
    text-decoration: none;
    font-weight: bold;

    border: 2px solid;
    border-radius: 8px;
    
    display: flex;
    align-items: center;

    padding: 14px 18px;
    width: 250px;
    margin: 25px auto 0;
    
    transition: 0.3s;
}

.instagram-button i {
    font-size: 24px;
    margin-right: 14px;
}

.instagram-arrow {
    margin-left: auto;
    line-height: 1;
    font-size: 30px;
    color: rgb(180, 90, 255);

    position: relative;
    top: -1px;
}

.instagram-button:hover {
    background: linear-gradient(
        to bottom,
        rgb(140, 35, 220),
        rgb(180, 35, 255)
    );
    transform: translateY(-3px);
}

.instagram-button:hover .instagram-arrow {
    color: white;
}

#contact {
    padding: 100px 20px;
    text-align: center;
}

#contact h2 {
    font-size: 42px;
    letter-spacing: 6px;
    margin: 0 0 35px;
}

.booking-button {
    background: linear-gradient(
        to bottom,
        rgb(140, 35, 220),
        rgb(180, 35, 255)
    );
    
    
    color: white;

    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;

    padding: 18px 35px;

    border-radius: 8px;

    display: inline-flex;
    align-items: center;
    gap: 20px;

    transition: 0.3s;
}

.booking-arrow {
    font-size: 24px;
    position: relative;
    top: -2px;
}

.booking-button:hover {
    box-shadow: 0 8px 25px rgba(180, 35, 255, 0.3);
    transform: translateY(-3px);
}

.booking-contact {
    margin-top: 30px;
    color: rgb(190, 190, 190);
    font-size: 15px;
}

.booking-contact i {
    font-size: 22px;
    color: white;
    margin-right: 10px;
}

.booking-contact a {
    color: rgb(180, 90, 255);
    text-decoration: none;
    font-weight: bold;   
}

.booking-contact a:hover {
    text-decoration: underline;
}

.booking-header {
    padding: 70px 20px 35px;
    text-align: center;
}

.booking-label {
    color: rgb(180, 90, 255);
    font-size: 13px;
    letter-spacing: 5px;
    font-weight: bold;
    margin: 0 0 15px;
}

.booking-header h1 {
    font-size: 42px;
    letter-spacing: 2px;
    margin: 0;
}

.booking-subtitle {
    color: rgb(180, 180, 180);
    font-size: 16px;
    margin: 15px 0 0;
}

.booking-header::after {
    content: "";
    display: block;

    width: 500px;
    height: 2px;

    background-color: rgb(180, 90, 255);

    margin: 30px auto 0;
}

/* Media Start */

@media (max-width: 768px) {
    
    .site-header {
        padding: 25px 15px;
    }

    .logo-link {
        display: none;
    }

    .site-logo {
        width: 55px;
    }
    
    .site-nav ul {
        gap: 19px;
    }

    .site-nav a {
        font-size: 16px;
        white-space: nowrap;
    }

    #hero {
        height: 460px;
        overflow: hidden;
    }

    .carousel, .carousel-track {
        height: 100%;
    }

    .carousel-track img {
        width: 300px;
        height: 100%;
    }

    .hero-content {
        width: 90%
    }

    .hero-logo {
        width: 220px;
    }

    .hero-content p {
        font-size: 17px;
        letter-spacing: 2px;
        line-height: 1.5;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    #about {
        flex-direction: column;
        padding: 50px 25px;
        gap: 30px;
    }

    .about-text {
        width: 100%;
        max-width: 500px;
    }

    .self-photo {
        width: 100%;
        max-width: 500px;
    }

    #music {
        padding: 60px 20px;
    }

    .genres ul {
        flex-direction: column;
        gap: 15px;
    }

    .genres li {
        font-size: 28px;
    }

    .genres li:not(:last-child)::after {
        display: none;
    }

    .subgenres {
        font-size: 12px;
        letter-spacing: 2px;
    }

    #services {
        padding: 60px 20px;
    }

    .services-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .service-card {
        min-height: 0;
        height: 200px;
    }

    .instagram-section {
        flex-direction: column;
        padding: 60px 20px;
        gap: 40px;
    }

    .instagram-info {
        width: 100%;
    }

    .instagram-info h2 {
        font-size: 34px;
    }

    .instagram-posts {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        justify-content: center;
        gap: 8px;
    }

    .instagram-posts .instagram-media {
        width: 30% !important;
        min-width: 0 !important;
        max-width: 350px !important;
    }

    #contact {
        padding: 60px 20px;
    }

    #contact h2 {
        font-size: 30px;
    }

    #contact p {
        font-size: 14px;
        line-height: 1.6;
    }

    .contact-button {
        padding: 14px 25px;
        font-size: 13px;
    }

    .booking-form {
        width: 100%;
    }

    .personal-info {
        grid-template-columns: 1fr;
    }

    .event-top-row {
        grid-template-columns: 1fr;
    }

    .booking-info {
        grid-template-columns: 1fr;
    }

    form {
        width: calc(100% - 10%);
        padding: 20px;
        box-sizing: border-box;
    }

    .address-row input,
    .address-row select {
        width: 100%
    }

    .additional-notes textarea {
        width: 100%;
    }

    .radio-options {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .radio-options label {
        margin-right: 0;
    }

    .radio-option {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    fieldset {
        padding-bottom: 30px;
    }

    legend {
        padding-top: 30px;
    }

    .additional-notes label {
        padding-bottom: 10px;
    }

    .booking-header {
        padding: 55px 20px 30px;
    }

    .booking-header h1 {
        font-size: 34px;
        line-height: 1.15;
    }

    .booking-header::after {
        width: 90%;
    }

    .booking-info label {
        white-space: normal;
    }

    .contact-method > label {
        white-space: nowrap;
    }
}    

    .loader {
    --color-1: #fff;
    --size: 1.2px;

    width: calc(20 * var(--size));
    height: calc(12 * var(--size));
    display: block;
    margin: auto;
    position: relative;
    border-radius: calc(4 * var(--size));
    color: var(--color-1);
    background: currentColor;
    box-sizing: border-box;
    animation: animloader 0.6s 0.3s ease infinite alternate;
}

    .loader::after,
    .loader::before {
    content: '';
    box-sizing: border-box;
    width: calc(20 * var(--size));
    height: calc(12 * var(--size));
    background: currentColor;
    position: absolute;
    border-radius: calc(4 * var(--size));
    top: 0;
    right: 110%;
    animation: animloader 0.6s ease infinite alternate;
}

    .loader::after {
    left: 110%;
    right: auto;
    animation-delay: 0.6s;
}

    @keyframes animloader {
    0% {
        width: calc(20 * var(--size));
    }
    100% {
        width: calc(48 * var(--size));
    }
}

    .loader-hidden {
        display: none;
    }